.PlansScreen{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.PlansScreen:hover{
    opacity: 1;
}

.PlansScreen button{
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    cursor: pointer;
}

.plansScreen_info{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50%;
}

.plansBtn h3{
    font-size: 16px;
}